body {
  background: black;
  font-family: Tahoma;
}

.monitor {
  position: relative;
  width: 100%;
  height: 100%;
  background: #008080;
  margin: auto;
}

.start {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgb(195, 198, 205);
  border-top: 3px solid rgb(222, 235, 243);
  display: flex;
  justify-content: space-between;
}
.start__button {
  width: 80px;
  height: 72%;
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 3px;
  display: flex;
  align-items: center;
}
.start__button:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(222, 235, 243);
  border-bottom: 2px solid rgb(222, 235, 243);
}
.start__button:hover {
  cursor: pointer;
}
.start__logo {
  width: 35px;
  height: 18px;
  position: relative;
}
.start__logo::after {
  content: "";
  background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
  background-size: contain;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.start__text {
  font-size: 14px;
  font-weight: bold;
}
.start__time {
  width: 80px;
  height: 72%;
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(133, 136, 143);
  border-left: 2px solid rgb(133, 136, 143);
  border-right: 2px solid rgb(222, 235, 243);
  border-bottom: 2px solid rgb(222, 235, 243);
  margin: 3px;
  display: flex;
  align-items: center;
}
.start__time-text {
  margin: auto;
  font-size: 12px;
}
.start__menu-main {
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 20%;
  display: none;
  position: absolute;
  bottom: 38px;
}
.start__menu-main-side {
  background: rgb(133, 136, 143);
  width: 15%;
}
.start__menu-main-side-text {
  position: relative;
  margin-top: 202px;
}
.start__menu-main-side-text .windows {
  font-weight: bold;
  color: rgb(195, 198, 205);
  transform: rotate(270deg);
}
.start__menu-main-side-text .ninefive {
  color: white;
  transform: rotate(270deg);
  margin-bottom: 56px;
}
.start__menu-main-items {
  padding: 0;
  width: 100%;
  height: auto;
}
.start__menu-main-items .icon {
  width: 50px;
  height: 40px;
  padding-left: 5px;
  padding-right: 5px;
}
.start__menu-main-items-item {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 13%;
  display: flex;
  align-items: center;
}
.start__menu-main-items-item:hover {
  background: rgb(0, 32, 125);
}
.start__menu-main-items-item:hover .start__menu-main-items-item-title {
  color: white;
}
.start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
}
.start__menu-main-items-list1 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(133, 136, 143);
}
.start__menu-main-items-list2 {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(222, 235, 243);
}
.start__menu-sub {
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  flex-direction: column;
  width: 180px;
  left: 156px;
  padding: 0;
  display: none;
  position: absolute;
}
.start__menu-sub .icon {
  width: 23px;
  height: 23px;
}
.start__menu-sub-items-item {
  display: flex;
  align-items: center;
}
.start__menu-sub-items-item:hover {
  background: rgb(0, 32, 125);
}
.start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
  color: white;
}
.start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
}
.start__menu-sub-items-item-title {
  margin: 7px 0;
}

.sub__programs {
  bottom: 226px;
}

.desktop-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-icon__icon {
  height: 50px;
}
.desktop-icon__text {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}
.desktop-icon:hover {
  cursor: pointer;
}

.computer {
  top: 20px;
  left: 10px;
}
.computer__icon {
  width: 55px;
  background: url("https://www.pngkey.com/png/full/44-448393_windows-95-icons-png-picture-free-stock-icon.png");
  background-size: contain;
}

.documents {
  top: 220px;
  left: 10px;
}
.documents__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/directory_closed-4.png");
  background-size: contain;
}

.stems {
  top: 220px;
  left: 210px;
}
.stems__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/filepack-1.png");
  background-size: contain;
}

.spotify {
  top: 120px;
  left: 210px;
}
.spotify__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/cd_audio_cd_a-4.png");
  background-size: contain;
}

.instagram {
  top: 320px;
  left: 10px;
}
.instagram__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/camera3-2.png");
  background-size: contain;
}

.help {
  top: 20px;
  left: 110px;
}
.help__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/help_book_cool-4.png");
  background-size: contain;
}

.twitter {
  top: 20px;
  left: 210px;
}
.twitter__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/write_yellow-1.png");
  background-size: contain;
}

.youtube {
  top: 120px;
  left: 110px;
}
.youtube__icon {
  width: 52px;
  background: url("https://win98icons.alexmeub.com/icons/png/camera_2-0.png");
  background-size: contain;
}

.iRis-MP {
  top: 20px;
  left: 310px;
}
.iRis-MP__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/wm-4.png");
  background-size: contain;
}

.chat {
  top: 220px;
  left: 110px;
}
.chat__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/window_red_hilights.png");
  background-size: contain;
}

.itunes {
  top: 320px;
  left: 110px;
}
.itunes__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/soundyel-4.png");
  background-size: contain;
}

.login {
  top: 420px;
  left: 10px;
}
.login__icon {
  width: 50px;
  background: url("https://win98icons.alexmeub.com/icons/png/users_key-4.png");
  background-size: contain;
}

.iris {
  top: 320px;
  left: 210px;
}
.iris__icon {
  width: 48px;
  background: url("https://win98icons.alexmeub.com/icons/png/console_prompt-0.png");
  background-size: contain;
}

.recycle {
  top: 120px;
  left: 10px;
}
.recycle__icon {
  width: 53px;
  background: url("https://telegram-stickers.github.io/public/stickers/windows-95/27.png");
  background-size: contain;
}

.start__menu-main-items-item-arrowright {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black;
  margin-left: auto;
  margin-right: 7px;
}

.underline {
  text-decoration: underline;
}

.menu-open {
  display: flex;
}

.icon-clicked {
  border: 1px dashed black;
}

.bg-img {
  background-image: url(https://i.pinimg.com/originals/96/17/c0/9617c03faeb0986659acd2fa7ff87a26.png);
  object-fit: cover;
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}

.settings-img {
  background-position: 87% 21%;
}

.find-img {
  background-position: 25% 22%;
}

.run-img {
  background-position: 0% 80%;
}

.shutdown-img {
  background-position: 75% 79%;
}

/*# sourceMappingURL=style.css.map */
