body {
  background: black;
  font-family: "ms95";
  overflow: hidden;
}

.monitor {
  position: relative;
  width: 800px;
  height: 600px;
  background: #008080;
  margin: auto;
  margin-top: 15vh;
}

.start {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: rgb(195, 198, 205);
  border-top: 3px solid rgb(222, 235, 243);
  display: flex;
  justify-content: space-between;
}
.start__button {
  width: 80px;
  height: 72%;
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin: 3px;
  display: flex;
  align-items: center;
}
.start__button:active {
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid rgb(222, 235, 243);
  border-bottom: 2px solid rgb(222, 235, 243);
}
.start__button:hover {
  cursor: pointer;
}
.start__logo {
  width: 35px;
  height: 18px;
  position: relative;
}
.start__logo::after {
  content: "";
  background: url(https://banner2.kisspng.com/20180821/hrt/kisspng-windows-95-windows-98-microsoft-windows-transparen-windows-95-telegram-stickers-directory-5b7c3cffc178a8.4526616315348687357925.jpg) transparent;
  background-size: contain;
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}
.start__text {
  font-size: 14px;
  font-weight: bold;
}
.start__time {
  width: 80px;
  height: 72%;
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(133, 136, 143);
  border-left: 2px solid rgb(133, 136, 143);
  border-right: 2px solid rgb(222, 235, 243);
  border-bottom: 2px solid rgb(222, 235, 243);
  margin: 3px;
  display: flex;
  align-items: center;
}
.start__time-text {
  margin: auto;
  font-size: 12px;
}
.start__menu-main {
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  width: 20%;
  display: none;
  position: absolute;
  bottom: 38px;
}
.start__menu-main-side {
  background: rgb(133, 136, 143);
  width: 15%;
}
.start__menu-main-side-text {
  position: relative;
  margin-top: 202px;
}
.start__menu-main-side-text .windows95 {
  font-weight: bold;
  color: rgb(195, 198, 205);
  transform: rotate(270deg);
}
.start__menu-main-side-text .ninefive {
  color: white;
  transform: rotate(270deg);
  margin-bottom: 56px;
}
.start__menu-main-items {
  padding: 0;
  width: 100%;
}
.start__menu-main-items .icon {
  width: 30px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.start__menu-main-items-item {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.start__menu-main-items-item:hover {
  background: rgb(0, 32, 125);
}
.start__menu-main-items-item:hover .start__menu-main-items-item-title {
  color: white;
}
.start__menu-main-items-item:hover .start__menu-main-items-item-arrowright {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
}
.start__menu-main-items-list1 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(133, 136, 143);
}
.start__menu-main-items-list2 {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(222, 235, 243);
}
.start__menu-sub {
  background: rgb(195, 198, 205);
  border-top: 2px solid rgb(222, 235, 243);
  border-left: 2px solid rgb(222, 235, 243);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  flex-direction: column;
  width: 180px;
  left: 156px;
  padding: 0;
  display: none;
  position: absolute;
}
.start__menu-sub .icon {
  width: 23px;
  height: 23px;
}
.start__menu-sub-items-item {
  display: flex;
  align-items: center;
}
.start__menu-sub-items-item:hover {
  background: rgb(0, 32, 125);
}
.start__menu-sub-items-item:hover .start__menu-sub-items-item-title {
  color: white;
}
.start__menu-sub-items-item:hover .start__menu-sub-items-item-arrowright {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid white;
}
.start__menu-sub-items-item-title {
  margin: 7px 0;
}

.sub__programs {
  bottom: 226px;
}

.desktop-icon {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-icon__icon {
  height: 50px;
}
.desktop-icon__text {
  color: white;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}
.desktop-icon:hover {
  cursor: pointer;
}

.computer {
  top: 20px;
  left: 10px;
}
.computer__icon {
  width: 55px;
  background: url("https://www.pngkey.com/png/full/44-448393_windows-95-icons-png-picture-free-stock-icon.png");
  background-size: contain;
}

.recycle {
  top: 120px;
  left: 10px;
}
.recycle__icon {
  width: 53px;
  background: url("https://telegram-stickers.github.io/public/stickers/windows-95/27.png");
  background-size: contain;
}

.start__menu-main-items-item-arrowright {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black;
  margin-left: auto;
  margin-right: 7px;
}

.underline {
  text-decoration: underline;
}

.menu-open {
  display: flex;
}

.icon-clicked {
  border: 1px dashed black;
}

.bg-img {
  background-image: url(https://i.pinimg.com/originals/96/17/c0/9617c03faeb0986659acd2fa7ff87a26.png);
  object-fit: cover;
  width: 200px;
  height: 200px;
  mix-blend-mode: multiply;
}

.settings-img {
  background-position: 87% 21%;
}

.find-img {
  background-position: 25% 22%;
}

.run-img {
  background-position: 0% 80%;
}

.shutdown-img {
  background-position: 75% 79%;
}

/*# sourceMappingURL=win95.css.map */
@font-face {
  font-family: 'ms95';
  src: url("css/font/ms-sans-serif.ttf");
}


* {
  font-family: "ms95"
}


.row {
  /* Edited by MrShoopa on 12/3/2018! */
  margin-bottom: 10px;
}

#audio{
  display:none;
}
#audio-stream-handler2{
  display:none;
}
#audio-stream-handler3{
  display:none;
}.windows-container {
  /* Edited by MrShoopa on 12/3/2018! */
  width: 410px;
}

.windows {
  border: 1px solid;
  border-left-color: #ffffff;
  border-top-color: #ffffff;
  background-color: #c3c7cb;
  border-right-color: #868a8e;

}
.transparent-btn{
  background-color: transparent;
  border: none;
}
.transparent-btn:hover{
  background-color: transparent;
  border: 1px;
  cursor:pointer;
}

.windows-box {
  border: 1px solid;
  border-top-color: #c3c7cb;
  border-left-color: #c3c7cb;
  background-color: #c0c0c0;
  border-bottom-color: #444;
  border-right-color: #000000;
  width: 410px;
  height: 280px;
  z-index: 1000;

  /* Edits by MrShoopa on 12/3/2018 */
  overflow: hidden;
  position: absolute;
  top: 30%;
  left: 30%;
  bottom: 0;
  right: 0;
}
.windows-box-lyrics {
  border: 1px solid;
  border-top-color: #c3c7cb;
  border-left-color: #c3c7cb;
  background-color: #c0c0c0;
  border-bottom-color: #444;
  border-right-color: #000000;
  width: 310px;
  height: 240px;
  z-index: 1000;

  /* Edits by MrShoopa on 12/3/2018 */
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 40%;
  bottom: 0;
  right: 0;
}

.windows-box-term {
  border: 1px solid;
  border-top-color: #c3c7cb;
  border-left-color: #c3c7cb;
  background-color: #c0c0c0;
  border-bottom-color: #444;
  border-right-color: #000000;
  width: 80%;
  height: 90%;
  z-index: 1000;

  /* Edits by MrShoopa on 12/3/2018 */
  overflow: hidden;
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
}

.player-input-lyrics {
  padding-left: 5px;
  width: 100%;
  height: 80%;
  font-family: "ms95";
  font-size: 12px;
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  ;
  background-color: #ffffff;
  border-bottom-color: #c3c7cb;
  border-right-color: #c3c7cb;
  overflow-y:auto;
}

.term-box {
  padding-left: 5px;
  width: 100%;
  height: 100%;
  font-family: "ms95";
  font-size: 12px;
  color: white;
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  ;
  background-color: #141414;
  border-bottom-color: #000000;
  border-right-color: #000000;
  overflow-y:auto;
}

.windows-header {
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  background-image: linear-gradient(to right, #0000aa, #0082aa);
  height: 25px;
}


.windows-title {
  padding-top: 1px;
  color: white;
  position: relative;
}

.windows-close-btn {
  float: right;
  color: black;
  position: relative;
  border-bottom-color: #444;
  border-right-color: #444;
  border-left-color: #a6a6a6;
  border-top-color: #a6a6a6;
  background-color: rgb(192, 192, 192);
}

.windows-button {
  border: 2px solid;
  border-bottom-color: #444;
  border-right-color: #444;
  border-left-color: #a6a6a6;
  border-top-color: #a6a6a6;
  background-color: rgb(192, 192, 192);
}

.dropdown-button {
  float: right;
  padding-left: 2px;
  margin-top: 0px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #dbdada;
  background-color: #c0c0c0;
  border-bottom-color: #000000;
  border-right-color: #000000;
  font-family: "ms95";
  width: 17.5px;
  height: 99%;
}

.info-row {
  /* Edited by MrShoopa on 12/3/2018! */
  padding-bottom: 33px;
}

button:active {
  background-color: rgb(192, 192, 192);
  border: 0.9px solid;
  border-bottom-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-left-color: #000000;
  border-top-color: #000000;
}

.cd-player.text {
  /* Edits by MrShoopa on 12/3/2018 */
  margin-top: 1px;
  position: absolute;
}

.cd-player.icon {
  /* Edits by MrShoopa on 12/3/2018 */
  background-image: url('img/cd-player.png');
  background-size: 17px 14px;
  /*Fix the icon size, was cropping the botom part */
  background-repeat: no-repeat;
  padding-left: 20px;
}

.windows-toolbar {
  list-style: none;
  display: inline;
  padding: 2px;
}

.toolbar-item {
  display: inline-block;
  list-style: none;
  padding: 2px;
  padding-left: 5px;
  text-decoration: none;
}

.toolbar-item:first-letter {
  text-decoration: underline;
  cursor: pointer;
}

.windows-link {
  color: inherit;
}
.col.s1{
  font-size: 13px;
  padding-left: 0%;
  padding-right: 2%;
}
.col.s11{
  font-size: 13px;
  padding-left: 2%;
}

.clock-display {
  margin-top: 0px;
  border: 1px solid;
  border-bottom-color: #444;
  outline: 1px white;
  border-right-color: #444;
  border-left-color: #a6a6a6;
  border-top-color: #a6a6a6;
  background-color: black;
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.text-clock-display {
  text-align: center;
  font-size: 30px;
  color: #aaaa55;
}

.player-control {
  padding-left: 45px;
  padding-top: 0px;
}

.play-button {
  margin-right: -3px;
  margin-bottom: 4.5px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #dbdada;
  background-color: #c0c0c0;
  border-bottom-color: #000000;
  border-right-color: #000000;
  width: 60%;
  height: 10%;
  font-family: "ms95";
}

.player-button {
  margin-right: -3px;
  margin-bottom: 4.5px;
  padding-left: 5px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #dbdada;
  background-color: #c0c0c0;
  border-bottom-color: #000000;
  border-right-color: #000000;
  width: 20%;
  height: 10%;
  font-family: "ms95";
}
.player-button-skip {
  margin-right: -3px;
  margin-bottom: 4.5px;
  padding-left: 5px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #dbdada;
  background-color: #c0c0c0;
  border-bottom-color: #000000;
  border-right-color: #000000;
  width: 20%;
  height: 10%;
  font-family: "ms95";
}
.player-button-back {
  margin-right: -3px;
  margin-bottom: 4.5px;
  padding-left: 5px;
  border: 1px solid;
  border-top-color: #ffffff;
  border-left-color: #dbdada;
  background-color: #c0c0c0;
  border-bottom-color: #000000;
  border-right-color: #000000;
  width: 20%;
  height: 10%;
  font-family: "ms95";
}

.player-input {
  padding-left: 5px;
  width: 100%;
  height: 7%;
  font-family: "ms95";
  font-size: 12px;
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  ;
  background-color: #ffffff;
  border-bottom-color: #c3c7cb;
  border-right-color: #c3c7cb;
  overflow-y:auto;
}

.source-name {
  right: 10%;
  position: absolute;
}

.player-input-of {
  padding-left: 5px;
  width: 100%;
  height: 7%;
  font-family: "ms95";
  font-size: 12px;
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  background-color: #c3c7cb;
  border-bottom-color: #c3c7cb;
  border-right-color: #c3c7cb;
}

.pop-up-wrapper{
  display:none;
}

.fullterminal-wrapper{
  display:none;
}
.term-text{
  z-index: 2000;
}
.player-input-status {
  padding-left: 5px;
  width: 100%;
  height: 7%;
  font-family: "ms95";
  font-size: 13px;
  border: 1px solid;
  border-top-color: #000000;
  border-left-color: #000000;
  background-color: #c3c7cb;
  border-bottom-color: #c3c7cb;
  border-right-color: #c3c7cb;
}

.col.s6.secondary-timer {
  padding-left: 1;
  padding-right: 2;
}

@media only screen and (max-width: 840px) {
  body {
      transform: scale(1);
  }
}